header {
    background: red;
    color: yellow;
    /* padding: 10px 20px 30px 40px; */
    /* padding-bottom: 20px;
    padding-top: 20px; */
    padding: 20px;
    margin-bottom: 30px;
}

.para {
    color: green;
    background-color: rgb(2, 68, 2);
}

p {
    color: purple;

}